<mat-toolbar color="primary">
    <mat-icon>book</mat-icon>
    <span style="margin-left: 10px;">CampusFlow</span>
    <span class="spacer"></span>
    <button mat-icon-button [routerLink]="['/login']" matTooltip="Login">
        <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/registrar-estudiante']" matTooltip="Registrar Estudiante">
        <mat-icon>add_circle</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/registrar-profesor']" matTooltip="Registrar Profesor">
        <mat-icon>add_circle</mat-icon>
    </button>
</mat-toolbar>