<mat-toolbar color="primary" class="dashboard-toolbar">
  <div class="toolbar-left">
    <button mat-button routerLink="/dashboard-estudiante/home">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-button routerLink="/dashboard-estudiante/notas">
      <mat-icon>assessment</mat-icon>
      <span>Mis Notas</span>
    </button>
    <button mat-button routerLink="/dashboard-estudiante/tareas">
      <mat-icon>assignment</mat-icon>
      <span>Tareas</span>
    </button>
    <button mat-button routerLink="/dashboard-estudiante/horario">
      <mat-icon>schedule</mat-icon>
      <span>Horario</span>
    </button>
    <button mat-button routerLink="/dashboard-estudiante/foro">
      <mat-icon>forum</mat-icon>
      <span>Foros</span>
    </button>
  </div>
  <div class="toolbar-right">
    <span>{{ userName }}</span>
  </div>
</mat-toolbar>