<!-- src/app/components/dashboard-navbar/dashboard-navbar.component.html -->
<mat-toolbar class="dashboard-top-bar">

  <!-- Nueva sección de navegación para el dashboard -->
  <div class="dashboard-nav-links">
    <a mat-button routerLink="/dashboard-estudiante" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <!-- ¡Nuevo botón de Notas! -->
    <a mat-button routerLink="/nota" routerLinkActive="active-link">
      <mat-icon>grade</mat-icon> Notas
    </a>

        <a mat-button routerLink="/listar-recompensa" routerLinkActive="active-link">
      <mat-icon>emoji_events</mat-icon> Recompensas <!-- ¡Nuevo botón de Recompensas! -->
        </a>
    <a mat-button routerLink="/tarea" routerLinkActive="active-link">
      <mat-icon>assignment</mat-icon> Tareas
    </a>
    <a mat-button routerLink="/listar-evento" routerLinkActive="active-link">
      <mat-icon>event</mat-icon> Eventos
    </a>
    <a mat-button routerLink="/grupo-foro" routerLinkActive="active-link">
      <mat-icon>forum</mat-icon> Foro
    </a>
  </div>

  <span class="spacer"></span> <!-- Empuja la sección de usuario a la derecha -->

  <div class="user-section">
    <!-- Usar la propiedad userAvatar del componente -->
    <img [src]="userAvatar" alt="User Avatar" class="user-avatar">
    <span>Bienvenido,</span>
    <!-- Mostrar el nombre de usuario dinámicamente -->
    <span class="user-name">{{ userName }}</span>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>
</mat-toolbar>
