<!-- src/app/pages/nosotros/nosotros.component.html -->
<div class="nosotros-container">
  <!-- Botón de retroceso usando routerLink para navegar a la página de inicio -->
  <a class="back-button" [routerLink]="['/index']">
    <!-- Asegúrate de que la imagen esté en src/assets/images/retroceder.png -->
    <img src="img/retroceder.png" alt="Retroceder">
  </a>
  <!-- Imagen central de "Nosotros" -->
  <!-- Asegúrate de que la imagen esté en src/assets/images/nosotros.png -->
  <img class="center-image4" src="img/nosotros.png" alt="Imagen Nosotros">
</div>
